@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&family=Tinos&family=Cardo&family=Cinzel:wght@600&display=swap');
body{
    background-image: url("img/back.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Tinos', serif;
    height: 100%;

}

p{
    margin: 0;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
}

header img{
    width: 64px;
    margin-right: 20px;
    margin-left: 20px;
}

nav{
    margin: auto;
}

nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 1000px;
    font-family: 'Cinzel', serif;
    font-size: 14pt;
}

nav > ul a{
    transition: 0.2s;
    color: white;
    text-decoration: none;
}

nav > ul a:hover{
    color: gold;
}

nav > ul li{
    width: 25%;
    padding: 30px 0 30px 0;
    text-align: center;
    float: left;
}

.curr{
    border-bottom: solid 3px gold;
    box-sizing: border-box;
}

#content{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#top{
    width: 100%;
    margin: auto;
    margin-top: 60px;
    background-image: url('img/banner.jpg');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#stripe{
    height: 32px;
    background-image: url('img/strip.png');
    background-size: contain;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: azure;
    padding: 70px 70px 140px 70px;

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;

}

main h3{
    font-family: 'Noticia Text', serif;
    font-size: 15pt;
}

footer{
    position: fixed;
    bottom: 0px;
    background-color: black;
    text-align: center;
    color: azure;
    padding: 40px 0;
    width: 100%;
}

footer a{
    color: gold;
}

.vid {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 600px;
}
.vid iframe {
    width: 80%;
}

.film{
    height: 200px;
    display: flex;
    justify-content: center;
}

.pres{
    background-color: rgb(235, 232, 217);
    border: 6px ridge brown;
    width: 600px;
    height: 100%;
    position: relative;
}

.image{
    height: 100%;
    width: 240px;
    margin-left: 20px;
    border: 6px ridge brown;
    overflow: hidden;
    position: relative;
}

.image img{
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    height: 100%;
}

.poster{
    float: left;
}

.poster img{
    height: 190px;
    border: 5px double red;
}

.desc{
    color: black;
    margin-left: 160px;
    font-family: 'Tinos', serif;
}

.desc a{
    color: Black;
}

.desc hr{
    background-color: rgb(80, 80, 80);
    margin: 0px;
    width: 250px;
    height: 2px;
}

.dirfilm > a{
    height: 115px;
    float: left;
    margin-right: 26px;
    border: 3px ridge #de6509;
}

.dirfilm img{
    height: 100%;
}

.ratings{
    margin-top: 4px;
    padding: 5px;
    background-color: gainsboro;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
}

.ratings img{
    height: 22px;
}

.rating{
    float: left;
    margin-left: 10px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
}

.rating p{
    font-size: 13pt;
    vertical-align: middle;
    float: right;
    margin-left: 10px;
}

.metar{
    background-color: rgb(35, 230, 9);
    color: white;
    border: 1px solid gray;
    padding: 2px;
    font-size: 10pt !important;
}

.cred{
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

#contact{
    width: 90%;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

#contact > h1{font-size: 30pt;}

#contact textarea.contact-field{
    height: 140px;
    resize: none;
}

.contact-field{
    display: block;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 20px 40px;
    font-family: 'Noticia Text';
}

.contact-submit{
    float: right;
    border: 0;
    background-color: peru;
    padding: 10px 30px;
    color: white;
    border-radius: 25px;
    font-family: 'Noticia Text';
    cursor: pointer;
}

@media (max-width: 1280px){
    header img{
        display: none;
    }
    #content{
        width: 100%;
    }
    nav > ul{
        width: 100vw;
    }
    .image{
        display: none;
    }
}

@media (max-width: 1150px){
}

@media (max-width: 760px){
    main {
        padding: 70px 10px 140px 10px;
    }
    .film {
        width: 100%;
    }
    .dirfilm > a{
        width: 17%;
        height: auto;
        margin-right: 5%;
    }
    .dirfilm > a > img{
        width: 100%;
        height: auto;
    }
}

@media print {
    body { background: #ffffff; color: #000000; }
    .image, header, #stripe, #top, footer, hr, iframe{ display: none; }
    a { text-decoration: underline; }
}
